@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .body{
    @apply m-0 p-0 box-border;
  }
}
/* :root{
  --items-per-screen: 4;
  --slider-index: 0
} */
@layer component {
  .slider1 {
    --slider-index: 0;
    --items-per-screen: 7;
  }
  .slider2 {
    --slider-index: 0;
    --items-per-screen: 7;
  }
  .slider3 {
    --slider-index: 0;
    --items-per-screen: 7;
  }
  .slider4 {
    --slider-index: 0;
    --items-per-screen: 7;
  }
  .slider5 {
    --slider-index: 0;
    --items-per-screen: 7;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
@media (max-width: 2000px) {
  .slider {
    --items-per-screen: 7;
  }
}
@media (max-width: 1280px) {
  .slider {
    --items-per-screen: 6;
  }
}
@media (max-width: 1024px) {
  .slider {
    --items-per-screen: 5;
  }
}
@media (max-width: 768px) {
  .slider {
    --items-per-screen: 4;
  }
}

@media (max-width: 640px) {
  .slider {
    --items-per-screen: 3;
  }
}
@media (max-width: 500px) {
  .slider {
    --items-per-screen: 2;
  }
}
